<div>
	{{#if tabs}}
	<nav class="tabs" data-group="primary-tabs">
		{{#each data }}
		<a class="item" data-tab="userHand-{{userId}}">{{ username}} ({{#if preview }}Preview{{ else }}<span class="player-counter">{{ cards }}</span> Cards{{/if}})</a>
		{{/each}}
	</nav>
	{{/if}}
	
	<section class="content">
		{{#each data }}
		{{#if ../tabs}}
		<div class="tab hand-wrapper" data-tab="userHand-{{userId}}" id="{{userId}}" data-group="primary-tabs">
		{{else}}
		<div class="hand-wrapper">
		{{/if}}
			{{#if cards }}
			{{#each cardData }}
			<div class="flexcol card-wrapper" id="{{ _id }}" {{#unless ../preview }}style="display: none;"{{/unless}}>
				<div class="card">
					<img src="{{ ../../cardFront }}" style="max-width: 787px;" />
					<div class="card-content">
						<div class="card-header flexrow">
							<span class="module-title">Mildly Magical Inspiration</span>
							<span class="cost-duration">{{ cost }} | {{ duration }}</span>
						</div>
						<div class="card-wording flexcol">
							<div class="line">
								<span class="title">{{{ title }}}</span>
							</div>
							<div class="line">
								<span class="subtitle">{{{ subtitle }}}</span>
							</div>
						</div>
						{{#if ../controls }}
						<div class="card-footer flexrow">
							<div>
								<a class="card-switch" id="{{_id}}" data-direction="prev" data-current="{{ @key }}"><i class="fas fa-angle-double-left"></i></a>
							</div>
							<div style="text-align: center;">
								<span style="font-size: 0.7em;"><span class="current-card-counter" id="{{_id}}">{{ this.count }}</span>/<span class="total-card-counter" id="{{_id}}">{{ ../cards }}</span></span>
							</div>
							<div>
								<a class="card-switch" id="{{_id}}" data-direction="next" data-current="{{ @key }}"><i class="fas fa-angle-double-right"></i></a>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="flexrow card-controls" id="{{ _id }}">
					{{#each ../ui}}
					<button class="dodt card-control" name="{{ ../_id }}" data-action="{{ dataAction }}" type="button"><i class="fas {{ icon }}"></i> {{ label }}</button>
					{{/each}}
				</div>
			</div>
			{{/each}}
			{{ else }}
			<div class="flexcol card-wrapper" id="{{ _id }}">
				<div class="card">
					<img src="{{ ../cardFront }}" style="max-width: 787px;" />
					<div class="card-content">
						<div class="card-wording flexcol" style="height: 100%;">
							<div class="line no-cards">
								<span class="subtitle">{{ username }} currently has no cards!</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
</div>