<div>
	{{#if tabs}}
	<nav class="tabs" data-group="primary-tabs">
		{{#each data }}
		<a class="item" data-tab="userHand-{{userId}}">{{ username}} ({{#if preview }}Preview{{ else }}<span class="player-counter">{{ cards }}</span> Cards{{/if}})</a>
		{{/each}}
	</nav>
	{{/if}}
	
	<section class="content">
		{{#each data }}
		{{#if ../tabs}}
		<div class="tab hand-wrapper" data-tab="userHand-{{userId}}" id="{{userId}}" data-group="primary-tabs">
		{{else}}
		<div class="hand-wrapper">
		{{/if}}
			{{#if cards }}
			{{#each cardData }}
			<div class="flexcol card-wrapper" id="{{ _id }}" {{#unless ../preview }}style="display: none;"{{/unless}}>
				<div class="card">
					<img src="{{ ../../cardFront }}" style="width:100%;" />
					<div class="card-content">
						<div class="card-header flexrow">
							<svg viewBox="0 0 700 14">
								<text x="40" y="10" fill="#C9A174">Mildly Magical Inspiration</text>
								<text x="390" y="10" fill="#C9A174">{{ cost }} | {{ duration }}</text>
							</svg>
						</div>
						<div class="card-wording flexcol">
							<svg viewBox="0 0 834 363">
								<text y="165" fill="#C9A174" text-anchor="middle" alignment-baseline="central">
									{{#each title}}
									<tspan x="417" dy="{{#if @key}}0.9em{{else}}0{{/if}}" style="font-size: 2.5em; text-transform: uppercase; font-weight: 600; letter-spacing: 0.05em;">{{ this }}</tspan>
									{{/each}}
									{{#each subtitle}}
									<tspan x="417" dy="{{#if @key}}0.9em{{else}}1.5em{{/if}}" style="font-size: 1.5em; letter-spacing: 0.01em;">{{ this }}</tspan>
									{{/each}}
								</text>
							</svg>
						</div>
						{{#if ../controls }}
						<div class="card-footer flexrow">
							<div>
								<a class="card-switch left" id="{{_id}}" data-current="{{ @key }}"><i class="fas fa-angle-double-left"></i></a>
							</div>
							<div style="text-align: center;">
								<span style="font-size: 0.7em;"><span class="current-card-counter" id="{{_id}}">{{ count }}</span>/<span class="total-card-counter" id="{{_id}}">{{ ../cards }}</span></span>
							</div>
							<div>
								<a class="card-switch right" id="{{_id}}" data-current="{{ @key }}"><i class="fas fa-angle-double-right"></i></a>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="flexrow card-controls" id="{{ _id }}">
					{{#each ../ui}}
					<button class="dodt card-control" name="{{ ../_id }}" data-action="{{ dataAction }}" type="button"><i class="fas {{ icon }}"></i> {{ label }}</button>
					{{/each}}
				</div>
			</div>
			{{/each}}
			{{ else }}
			<div class="flexcol card-wrapper" id="{{ _id }}">
				<div class="card">
					<img src="{{ ../cardFront }}" style="width:100%;" />
					<div class="card-content">
						<div class="card-wording flexcol" style="height: 100%;">
							<svg viewBox="0 0 834 363">
								<text y="165" fill="#C9A174" text-anchor="middle" alignment-baseline="central">
									<tspan x="417" dy="0.9em" style="font-size: 2.5em; text-transform: uppercase; font-weight: 600; letter-spacing: 0.05em;">{{ username }} currently has no cards!</tspan>
								</text>
							</svg>
						</div>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
</div>