<form autocomplete="off" class="flexcol" onsubmit="event.preventDefault();">
	<input type="hidden" name="source.{{ _id }}._id" value="{{ _id }}" />
	{{#unless isActive}}
    <div id="source-details">
        <div class="form-group">
            <label>Title:</label>
            <input type="text" name="source.{{ _id }}.title" value="{{ title }}" />
        </div>
		
        <div class="form-group">
            <label>Author:</label>
            <input type="text" name="source.{{ _id }}.author" value="{{ author }}" />
        </div>
	</div>
	{{else}}
	<input type="hidden" name="source.{{ _id }}.title" value="{{ title }}" />
	<input type="hidden" name="source.{{ _id }}.author" value="{{ author }}" />
	{{/unless}}
	<input type="hidden" name="source.{{ _id }}.isActive" value="{{ isActive }}" />

	<div id="source-filters">
		<p class="notes">Configure the card deck which is used for this module. You can filter the cards by which are owned by players and change ownership of cards too.</p>
		
		<nav class="list-filters">
			<a class="add" data-action="add"><i class="fas fa-plus"></i></a>
			<input type="text" name="search" placeholder="Filter Cards" value="">
			<a class="filter switch active" data-filter="default">Show All</a>
			{{#if isActive }}
			<a class="filter active" data-filter="all">All Cards (<span class="count-all"></span>)</a>
			<a class="filter" data-filter="owned">Player Owned (<span class="count-owned"></span>)</a>
			<a class="filter" data-filter="available">Unowned (<span class="count-available"></span>)</a>
			{{/if}}
		</nav>
	</div>

	<div id="no-cards" class="hide">
		<div>
			There are no cards that match your criteria!
		</div>
	</div>
	
	<ul class="card-list">
		{{# each cards}}
		{{> editPartial card=this isActive=../isActive }}
		{{/ each }}
	</ul>
	
	<div id="source-footer" class="form-group">
		<button type="button" name="export">
			<i class="fas fa-file-download"></i> Export
		</button>
		
		<button type="button" name="reset">
			<i class="fas fa-sync"></i>  <label>Replace</label>
		</button>
	</div>
</form>